%h2 Choose a language

%table.languages.table.table-striped
  %thead
    %tr
      %th Languages
      %th Functions

  %tbody
    - @languages.each do |language, count|
      %tr
        %td= link_to(language, functions_by_language_path(language))
        %td= count
