%table.users.table.table-striped.table-hover
  %thead
    %th Name
    %th Score

  %tbody
    - @users.each do |user|
      %tr
        %td.name
          = image_tag(user.gravatar_url(:size => 40, :default => 'identicon'))
          = link_to(user.user_name, user)
        %td.score= user.score
