%header
  %h1 Top Users

= render_table('users', @users, [:name, ['Patches', :patches_count], ['Implementations', :implementations_count], :score]) do |user|
  = image_tag(user.gravatar_url(:size => 48, :default => 'identicon'))
