%p.lead
  <strong>Patchwork</strong> is a brand new project based on a simple premise:

%blockquote.lead
  Imagine if we had an ecosystem where instead of a "package" being a library, a "package" was just a function.

%p.lead
  For more info, see <a href="http://danieltao.com/ideas/functions-over-libraries">this post</a>.

%hr
