%header
  %h1 Patchwork

  %p The current landscape is this: we have libraries, library versions, and dependency management systems built around these versions.

  %p The most altruistic of library developers take the time to split their libraries up into reusable modules, so that application developers don't need to bloat their projects with large dependencies just for small bits of convenient functionality.

  %p What if we changed the paradigm, so instead of a <em>library</em>, the fundamental unit of shared code were simply a <em>function</em>?

  %p That's the premise.
