%header
  %h1 Create a new patch

  %p
    Think of a "patch" as a <em>unit</em> of functionality. In most cases it will probably just be a
    function; however, it could be a small set of mututally supporting functions, or a class (object
    with a prototype in JS terms) exposing a small set of methods.

= render(:partial => 'form')
