@import "flatly";
@import "twitter/bootstrap";
@import "codemirror";
@import "fontello";

@mixin icon($name) {
  @extend [class^="icon-"], [class*=" icon-"], .icon-#{$name};
}

@mixin opacity($value) {
  opacity: $value;
  filter: alpha(opacity=$value * 100);
}

@mixin overlay($color: $body-bg) {
  &:before {
    @include opacity(0.75);

    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $color;
    z-index: 100;
  }
}

@mixin three-column-table($col1-width, $col2-width, $col3-width) {
  th:nth-child(1),
  td:nth-child(1) {
    width: $col1-width;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: $col2-width;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: $col3-width;
  }
}

// ----- Site layout -----

.container {
  width: 75%;
  max-width: 1600px;
}

body.loading {
  &:before {
    @include overlay;
  }

  &:after {
    content: "Hold on...";
    display: block;

    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    height: 300px;
    line-height: 300px;
    margin-top: -150px;
    text-align: center;

    background: #ddd url("/assets/loading.gif") no-repeat center 100px;
    z-index: 100;
  }
}

body > nav {
  @extend .navbar, .navbar-default, .navbar-static-top;

  ul {
    @extend .nav, .navbar-nav;

    &:first-child > li:first-child a {
      @extend .navbar-brand;
    }
  }
}

body > main {
  @extend .container;

  & > header {
    @extend .page-header;

    p {
      @extend .lead;
    }
  }
}

#session-links {
  @extend .navbar-right;
}

#notice, #error {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  margin-bottom: 0;
  text-align: center;
  z-index: 10;

  transition: bottom 1s;
}

#notice {
  @extend .alert, .alert-info;
}

#error {
  @extend .alert, .alert-danger;
}

// ----- General styling -----

table {
  @extend .table, .table-striped;

  th:last-child,
  td:last-child {
    text-align: right;
  }
}

button, .actions > a {
  @extend .btn, .btn-info;
}

h1 > a[href*="/edit"] {
  @extend .btn, .btn-sm, .btn-warning;
}

input[type="submit"] {
  @extend .btn, .btn-primary;
}

form {
  .field {
    @extend .form-group;

    input[type="text"], input[type="password"], select, textarea {
      @extend .form-control;
    }
  }
}

.CodeMirror {
  height: auto;

  &.loading {
    @include overlay;

    background: $body-bg url("/assets/spinner.gif") no-repeat center;
  }

  .success { color: $brand-success; }
  .failure { color: $brand-danger; }
}

.CodeMirror-scroll {
  min-height: 200px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-empty {
  color: $text-muted;
}

.test-results {
  width: 20px;
}

// ----- Page-specific styles -----

@import "users";
@import "show_user";
@import "new_patch";
@import "show_patch";
@import "new_implementation";
@import "show_implementation";
