body {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    width: 100%;
    max-width: 1920px;
  }
}

table tr th:last-child,
table tr td:last-child {
  text-align: right;
}

form label {
  margin-top: 8px;
}

input[type="text"], input[type="password"], textarea {
  background-color: #f9f9f9 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;

  &:focus {
    background-color: #def !important;
  }
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  min-height: 300px;
  overflow-y: hidden;
  overflow-x: auto;
}

.comments {
  margin-top: 15px;
}

// Need to move this to the bottom right
// so it isn't blocked by the navbar
#query_diet {
  top: inherit !important;
  bottom: 0;
}
