@mixin rainbow-text($adjustment: 0) {
  &:nth-child(4n+1) { color: lighten(#3fb618, $adjustment); }
  &:nth-child(4n+2) { color: lighten(#9954bb, $adjustment); }
  &:nth-child(4n+3) { color: lighten(#ff7518, $adjustment); }
  &:nth-child(4n) { color: lighten(#ff0039, $adjustment); }
}

body {
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    width: 100%;
    max-width: 1920px;
  }
}

table tr th:last-child,
table tr td:last-child {
  text-align: right;
}

form label {
  margin-top: 8px;
}

input[type="text"], input[type="password"], textarea {
  background-color: #f9f9f9 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;

  &:focus {
    background-color: #def !important;
  }
}

.CodeMirror {
  height: auto;
  margin-bottom: 21px;
}

.CodeMirror-scroll {
  min-height: 150px;
  overflow-y: hidden;
  overflow-x: auto;
}

.navbar-brand > span {
  @include rainbow-text(40%);
  text-shadow: #000 0 0 5px;
}

.page-header h1 > a {
  font-size: 150%;
  text-decoration: none;

  span {
    @include rainbow-text;
  }

  &:hover span {
    @include rainbow-text(20%);
  }
}

table.users {
  tr > th, tr > td {
    vertical-align: middle;

    &:first-child {
      img {
        border-radius: 20px;
        margin-right: 10px;
      }
    }
  }
}

.comments {
  margin-top: 21px;
}

#test-results {
  .success {
    color: #080;
  }

  .failure {
    color: #f00;

    p {
      color: #000;
    }
  }
}

// Need to move this to the bottom right
// so it isn't blocked by the navbar
#query_diet {
  position: fixed !important;
  top: inherit !important;
  bottom: 0;
}
