body[data-page="patches-show"] {
  & > main > header {
    .details {
      span.language {
        @extend .label, .label-primary;
      }

      span.tag {
        @extend .label, .label-default;
      }
    }
  }

  .implementation {
    @extend .row;

    .info {
      @extend .col-lg-2;

      text-align: center;

      .score {
        @extend .label, .label-success;

        &:before {
          content: "Score: ";
        }
      }

      h4 {
        button {
          background-color: $body-bg;
          color: $text-color;
          border: none;
          padding: 0;
          font-size: 150%;

          &:hover {
            color: $link-hover-color;
          }
        }

        span.vote {
          @include icon(thumbs-up);
        }
      }
    }

    .source {
      @extend .col-lg-10;

      .run-tests-for-implementation {
        @extend .btn, .btn-warning;

        position: absolute;
        top: $padding-base-vertical;
        right: $padding-base-horizontal;

        z-index: 10;
      }

      .results {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;

        margin: $padding-base-vertical $padding-base-horizontal;
        padding: $padding-base-vertical $padding-base-horizontal;
        padding-left: $padding-base-horizontal * 2;

        background-color: #000;
        opacity: 0.5;

        transition: width 0.5s;

        &:empty {
          background-color: $body-bg;
          width: 0%;
        }

        span {
          margin-right: 1em;

          &.success {
            color: $brand-success;
          }

          &.failure {
            color: $brand-danger;
          }
        }
      }
    }
  }
}
