body[data-page="implementations-show"] {
  & > main > header {
    h1 a:not([href*="edit"]) {
      color: $brand-info;

      &:hover {
        color: darken($brand-info, 20%);
        text-decoration: none;
      }
    }
  }
}
