body[data-page="users-show"] > main > header {
  @extend .media;

  .profile-image {
    @extend .pull-left;

    img {
      @extend .media-object;

      height: 160px;
      width: 160px;
    }
  }

  .user-info {
    @extend .media-body;

    h1 > small {
      display: block;
    }

    h2 > .score {
      @extend .label, .label-success;

      &:before {
        content: "Score: ";
      }
    }
  }
}
