body[data-page="patches-show"] {
  & > main > header {
    .details {
      span.language {
        @extend .label, .label-primary;
      }

      span.tag {
        @extend .label, .label-default;
      }
    }
  }

  .implementation {
    @extend .row;

    .user {
      @extend .col-lg-2;

      text-align: center;

      .score {
        @extend .label, .label-success;

        &:before {
          content: "Score: ";
        }
      }

      h4 {
        button {
          background-color: $body-bg;
          color: $text-color;
          border: none;
          padding: 0;
          font-size: 150%;

          &:hover {
            color: $link-hover-color;
          }
        }

        span.vote {
          @include icon(thumbs-up);
        }
      }
    }

    .source {
      @extend .col-lg-10;
    }
  }
}
